:root {
  --snapSliderViewHeight: auto;
  --snapSliderVerticalHeight: 800px;
  --snapSliderButtonBackground: #fff;
  --snapSliderButtonColor: #000;
  --snapSliderTransitionDuration: 0.15s;
  --snapSliderHoverBrightness: 0.7;
}

snap-slider {
  display: block;
  position: relative;
}

.snap-slider__view {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: var(--snapSliderViewHeight);
}

.snap-slide {
  min-width: 100%;
  height: 100%;
  scroll-snap-align: start;
  padding: 1rem;
}

/* Vertical styling
========================*/

[data-slider-direction="vertical"] .snap-slider__view {
  scroll-snap-type: y mandatory;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  width: initial;
  height: var(--snapSliderVerticalHeight);
}

@media only screen and (max-width: 768px) {
  [data-slider-direction="vertical"]  .snap-slider__view {
    height: calc(var(--snapSliderVerticalHeight) / 2);
  }
}

[data-slider-direction="vertical"] .snap-slide {
  min-width: initial;
  min-height: 100%;
  width: 100%;
}

.snap-slider__buttons {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.snap-slider__button {
  background-color: var(--snapSliderButtonBackground);
  color: var(--snapSliderButtonColor);
  padding: 1rem;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: filter var(--snapSliderTransitionDuration) ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.snap-slider__button:hover,
.snap-slider__button:focus,
.snap-slider__dot:hover,
.snap-slider__dot:focus {
  filter: var(--snapSliderHoverBrightness);
}

.snap-slider__button[data-button-prev] {
  left: 10px;
}

.snap-slider__button[data-button-next] {
  right: 10px;
}

.snap-slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  z-index: 1;
  list-style: none;
  margin: 0;
}

.snap-slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--snapSliderButtonBackground);
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: var(--snapSliderHoverBrightness);
}

.snap-slider__dot--active {
  opacity: 1;
}
